<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016-2019 Owebia. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Owebia\AdvancedSettingCore\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Owebia\AdvancedSettingCore\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Owebia_AdvancedSettingCore</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Owebia\AdvancedSettingCore\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Owebia\AdvancedSettingCore\Model\CallbackHandlerExtensionInterface" type="Owebia\AdvancedSettingCore\Model\CallbackHandlerExtension"/>
    <!-- This can be used to override a wrapper class
    <preference for="Owebia\AdvancedSettingCore\Model\Wrapper\Customer" type="Vendor\Module\Path\To\Customer\Wrapper" />
    -->
</config>
